<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <script src="/static/submit.js"></script>
</head>

<body>
    <header class="hero">
        <div class="hero-body" style="background: #def;">
            <h1 class="title">ICFPC 2007: Fuun Prefix and results</h1>
        </div>
    </header>

    <section class="section">
        <div class="field is-grouped">
            <input type="text" name="prefix" id="prefix" class="input is-medium">
            <button type="button" class="button" onclick="submit()">Submit</button>
        </div>
        <table class="table is-striped is-fullwidth">
            <thead>
                <th></th>
                <th>Time</th>
                <th>Picture</th>
                <th>Prefix</th>
                <th>RNA数</th>
                <th>Diff数</th>
                <th>Risk</th>
                <th>計算時間</th>
            </thead>
            {% for line in data %}
            <tr>
                <td><span class="icon"><i class="fas fa-home"></i></span></td>
                <td>{{ line.timestamp }}</td>
                <td><img src="/static/images/{{ line.hash }}.png" width="100"></td>
                <td>{{ line.prefix }}</td>
                <td>{{ line.rna_size }}</td>
                <td>{{ line.diff }}</td>
                <td>{{ line.risk }}</td>
                <td>{{ line.elapsed_time }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>

</html>